In [1]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Load your dataset
df = pd.read_excel("World_development_mesurement.xlsx")

In [4]:
# Display the first few rows of the dataset to get an overview
print(df.head())

   Birth Rate Business Tax Rate  CO2 Emissions       Country  \
0       0.020               NaN        87931.0       Algeria
1       0.050               NaN         9542.0        Angola
2       0.043               NaN         1617.0         Benin
3       0.027               NaN         4276.0      Botswana
4       0.046               NaN         1041.0  Burkina Faso

   Days to Start Business  Ease of Business  Energy Usage              GDP  \
0                     NaN               NaN       26998.0  $54,790,058,957
1                     NaN               NaN        7499.0   $9,129,594,819
2                     NaN               NaN        1983.0   $2,359,122,303
3                     NaN               NaN        1836.0   $5,788,311,645
4                     NaN               NaN           NaN   $2,610,959,139

   Health Exp % GDP Health Exp/Capita  ...  Life Expectancy Male  \
0             0.035               $60  ...                  67.0
1             0.034               $22  ...                  44.0
2             0.043               $15  ...                  53.0
3             0.047              $152  ...                  49.0
4             0.051               $12  ...                  49.0

   Mobile Phone Usage  Number of Records  Population 0-14  Population 15-64  \
0                 0.0                  1            0.342             0.619
1                 0.0                  1            0.476             0.499
2                 0.0                  1            0.454             0.517
3                 0.1                  1            0.383             0.587
4                 0.0                  1            0.468             0.505

   Population 65+  Population Total  Population Urban  Tourism Inbound  \
0           0.039          31719449             0.599     $102,000,000
1           0.025          13924930             0.324      $34,000,000
2           0.029           6949366             0.383      $77,000,000
3           0.029           1755375             0.532     $227,000,000
4           0.028          11607944             0.178      $23,000,000

   Tourism Outbound
0      $193,000,000
1      $146,000,000
2       $50,000,000
3      $209,000,000
4       $30,000,000

[5 rows x 25 columns]

In [7]:
print(df.tail())

      Birth Rate Business Tax Rate  CO2 Emissions                   Country  \
2699         NaN               NaN            NaN  Turks and Caicos Islands
2700       0.013             46.4%            NaN             United States
2701       0.015             41.9%            NaN                   Uruguay
2702       0.020             61.9%            NaN             Venezuela, RB
2703       0.011               NaN            NaN     Virgin Islands (U.S.)

      Days to Start Business  Ease of Business  Energy Usage  \
2699                     NaN               NaN           NaN
2700                     5.0               4.0     2132446.0
2701                     7.0              85.0           NaN
2702                   144.0             180.0           NaN
2703                     NaN               NaN           NaN

                      GDP  Health Exp % GDP Health Exp/Capita  ...  \
2699                  NaN               NaN               NaN  ...
2700  $16,244,600,000,000             0.179            $8,895  ...
2701      $50,004,354,667             0.089            $1,308  ...
2702     $381,286,223,859             0.046              $593  ...
2703                  NaN               NaN               NaN  ...

      Life Expectancy Male  Mobile Phone Usage  Number of Records  \
2699                   NaN                 NaN                  1
2700                  76.0                 1.0                  1
2701                  74.0                 1.5                  1
2702                  72.0                 1.0                  1
2703                  76.0                 NaN                  1

      Population 0-14  Population 15-64  Population 65+  Population Total  \
2699              NaN               NaN             NaN             32427
2700            0.196             0.667           0.136         313873685
2701            0.220             0.639           0.140           3395253
2702            0.288             0.652           0.060          29954782
2703            0.206             0.641           0.152            105275

      Population Urban   Tourism Inbound  Tourism Outbound
2699             0.911               NaN               NaN
2700             0.811  $200,092,000,000  $126,573,000,000
2701             0.948    $2,222,000,000    $1,028,000,000
2702             0.889      $904,000,000    $3,202,000,000
2703             0.949               NaN               NaN

[5 rows x 25 columns]

In [5]:
# Summary statistics
print(df.describe())

        Birth Rate  CO2 Emissions  Days to Start Business  Ease of Business  \
count  2585.000000   2.125000e+03             1718.000000        185.000000
mean      0.022715   1.423071e+05               39.999418         94.875676
std       0.011338   6.159288e+05               57.318588         54.791906
min       0.007000   7.000000e+00                1.000000          1.000000
25%       0.013000   1.360000e+03               13.000000         48.000000
50%       0.020000   8.529000e+03               26.000000         94.000000
75%       0.031000   5.910800e+04               45.000000        142.000000
max       0.053000   8.286892e+06              694.000000        189.000000

       Energy Usage  Health Exp % GDP  Hours to do Tax  Infant Mortality Rate  \
count  1.785000e+03       2395.000000      1416.000000            2444.000000
mean   7.723684e+04          0.064170       302.068503               0.032813
std    2.599239e+05          0.026325       273.299686               0.029968
min    8.000000e+00          0.008000        12.000000               0.002000
25%    3.737000e+03          0.046000       156.000000               0.009000
50%    1.433800e+04          0.061000       239.000000               0.020000
75%    4.185200e+04          0.079000       344.750000               0.053000
max    2.727728e+06          0.225000      2600.000000               0.141000

       Internet Usage  Lending Interest  Life Expectancy Female  \
count     2531.000000       1880.000000             2568.000000
mean         0.239747          0.148103               71.159268
std          0.260132          0.171829               10.708262
min          0.000000          0.005000               39.000000
25%          0.000000          0.080000               64.000000
50%          0.100000          0.120000               75.000000
75%          0.400000          0.173000               79.000000
max          1.000000          4.965000               87.000000

       Life Expectancy Male  Mobile Phone Usage  Number of Records  \
count           2568.000000         2537.000000             2704.0
mean              66.461838            0.578124                1.0
std                9.390217            0.474647                0.0
min               37.000000            0.000000                1.0
25%               61.000000            0.100000                1.0
50%               69.000000            0.500000                1.0
75%               73.250000            0.900000                1.0
max               88.000000            2.900000                1.0

       Population 0-14  Population 15-64  Population 65+  Population Total  \
count      2484.000000       2484.000000     2484.000000      2.704000e+03
mean          0.303051          0.623481        0.073465      3.145729e+07
std           0.106577          0.069660        0.049541      1.242894e+08
min           0.118000          0.474000        0.003000      1.887600e+04
25%           0.204750          0.559000        0.033000      8.783360e+05
50%           0.299500          0.642500        0.052000      5.800324e+06
75%           0.402000          0.676000        0.112000      2.014089e+07
max           0.500000          0.858000        0.244000      1.350695e+09

       Population Urban
count       2678.000000
mean           0.562953
std            0.245897
min            0.082000
25%            0.356000
50%            0.560000
75%            0.765000
max            1.000000

In [8]:
df.shape

(2704, 25)

In [10]:
df.duplicated().sum()

0

In [6]:
# Check for missing values
print(df.isnull().sum())

Birth Rate                 119
Business Tax Rate         1281
CO2 Emissions              579
Country                      0
Days to Start Business     986
Ease of Business          2519
Energy Usage               919
GDP                        210
Health Exp % GDP           309
Health Exp/Capita          309
Hours to do Tax           1288
Infant Mortality Rate      260
Internet Usage             173
Lending Interest           824
Life Expectancy Female     136
Life Expectancy Male       136
Mobile Phone Usage         167
Number of Records            0
Population 0-14            220
Population 15-64           220
Population 65+             220
Population Total             0
Population Urban            26
Tourism Inbound            368
Tourism Outbound           471
dtype: int64

In [11]:
df.isnull().sum().sum()

11740

1.) There are 11740 overall null values in our Dataset.

2.) There are No Duplicate values in our Dataset.

3.) Columns - Country ; Number of Records and Population Total are the only columns with 0 null values.

When we have such a large number of missing values present in our data, we have 2 options.
1) Deletion : Deletion of rows (if you have large volume of data)

          Deletion of columns (if > 45% of data is null)
2) Imputation : for numeric column -- use mean/median/mode

            for categorical columns -- use mode or ration

In [13]:
# Remove rows with any missing values
df.dropna(inplace=True)

In [15]:
# Remove columns with any missing values
df.dropna(axis=1, inplace=True)